//- pug.pug
doctype html
- var filename = "Who We Are"
html
  include includes/head.pug
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  body.about
    include includes/header.pug
    include includes/page-title.pug
    .romana_our_mission_area.romana_section_padding
      .container
        .row
          .col-sm-6.col-xs-12
            .romana_mission_img
              img(src="img/mission.jpeg", alt="")
          .col-sm-6.col-xs-12
            - var title = "Our Mission";
            -
              var desc = ["Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.","Lorem Ipsum is simply dummy text of the printing and typesetting industry","Lorem Ipsum is simply dummy text of the printing and typesetting industry"];
            include includes/text.pug
            each val in desc
              p= val
        .romana_history_vision
          .row
            .col-sm-6
              - var title = "Our history";
              -
                var desc = ["Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.","Lorem Ipsum is simply dummy text of the printing and typesetting industry","Lorem Ipsum is simply dummy text of the printing and typesetting industry"];
              include includes/text.pug
              each val in desc
                p= val
            .col-sm-6
              - var title = "Our Vision";
              -
                var desc = ["Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.","Lorem Ipsum is simply dummy text of the printing and typesetting industry","Lorem Ipsum is simply dummy text of the printing and typesetting industry"];
              include includes/text.pug
              each val in desc
                p= val
    include includes/quote.pug
    - var title = "Our Volunteer";
    - var desc = "liber tempor cum soluta nobis eleifend option <br> con gue nihil imperdiet doming id";
    include includes/video.pug
    include includes/home-image-banner.pug
    .romana_Volunteers_area.romana_section_padding
      .container
        .row
          .col-xs-12
            - var title = "Our Volunteer";
            - var desc = "liber tempor cum soluta nobis eleifend option <br> con gue nihil imperdiet doming id";
            include includes/section-title.pug
          include includes/volunteer.pug
    include includes/footer.pug
    include includes/script.pug
