- var title = 'About Us';
- var desc = '';
- var image = 'img/vendor/video_img1.jpg';
- var subTitle = 'Uplift a generation with Education to make a better world';
- var tagline = 'We are non for profit organisation with aim to build school to the under privelage regions.';
- var sectionDesc = 'our current project is build a school in P.S. Jhumri Teliya, District Koderma, Jharkhand, India. Jharkhand as state is one most remote and under developed region in India with below average litrecty. Besides the region face challenge with lanscape, infrastructe and criminal events of society.<br> Our aim to help child to come out of cycle of proverty with beneficial, comfortable and effective means of education. We wish to build school and provide easy access to childern so as help parent lesser there burden on their childern education. We belive free, beneficial and effective eduction that easy access is key in building a better future.'
