-
  var carousel = [{ 'title': 'Let us build a <span>better</span> future <br> for <span>under privilege</span> kids.',
                    'desc': 'Education is an essential tool to break the cycle of proverty. However, many childern do not get access to education,<br> especially for childern coming from under privilege background. Help us make change today, for bettwer tomorrow',
                  },{
                    'title': 'Let us build a <span>better</span> classrooms <br> for the <span>bright</span> minds of tomorrow.',
                    'desc': 'Many classroom in India lack basic emanities for proper education. <br> Help us provide the essential tool for the young minds to grow to build a better world',
                  },{
                    'title': 'Let us provide <span>easy</span> access <br> for more <span>learning</span> less travelling.',
                    'desc': 'Many classroom in India lack basic emanities for proper education. <br> Help us provide the essential tool '
                  }];
