-
  var cause = {
    'days': '120',
    'percent': '2',
    'raised': '1,000',
    'goal': '80,000',
    'typeCause': 'Urgent Causes',
    'title': 'Charity For Education',
    'desc': 'There is desperate need to build a school for the most under privilege childern. The school will build in Jharkhand in the most remote and tribal state in India. Jharkhand is beautiful and secne region with many wild forest but recent state is going a crisis with Curroption, Conflicts and lack infractor. As result families are force to send childer far distance for education as result many drop out also many childer get abduction to armed militants to become child soliders. For more information check un report and reference <a href="reference.html">here</a>.'
  }
