-
  var card = [{
    'href': 'donation.html?c1',
    'id': 'c1',
    'rasied': '300',
    'goal': '30,000',
    'percent': '5',
    'link': 'cause-detail.html',
    'days': '120',
    'image': 'img/proj1.jpg',
    'title': 'Fun Classroom for Learning',
    'desc': 'Classroom is place where childern spend more of there time. Place were they and grow. If the classroom are not function and comformtable, it very hard for these under privilage kids to gain all knowledge they need to work towards a better future.'
  }, {
    'href': 'donation.html?c2',
    'id': 'c2',
    'rasied': '450',
    'goal': '30,000',
    'percent': '5',
    'link': 'cause-detail.html',
    'days': '120',
    'image': 'img/proj2.jpg',
    'title': 'Worry Free Zone',
    'desc': 'With abductions and crime on rasie in the region school need to be a safe and secure place for childern grow. Additionally, parents could breath easy knowing childer are in safe place.'
  }, {
    'href': 'donation.html?c3',
    'id': 'c3',
    'rasied': '250',
    'goal': '20,000',
    'percent': '65',
    'link': 'cause-detail.html',
    'days': '120',
    'image': 'img/proj3.jpg',
    'title': 'Books for Better tomorrow',
    'desc': 'Books are great source of building young mind. However, access to them is them in some of the remote place is hard. Without help we would like change this completely and make free access to book in the local language for young mind to grow and be inspired for building a better future for themselives'
  }];
- var title = 'Indiviudal Projects';
- var desc =  'These are indiviudal projects which would help us fullfill our primary goal of providing benefitcial, accessiable and effect education to less privilage childern in remote area of world. We are start with focusing on Jharkhand,India. We aim to build many school but we wish to focus at one school at a time. Primary focus is build a school in P.S. Jhumri Teliya, District Koderma, Jharkhand, India To achive this goal we have divided primary cause to indiviudal project. You could choice to support the primary cause or indiviudal project which relate to move, in either scenario your contributing for better tomorrow for these childern.';
