-
  var volunteer = [{
    'image': 'img/vendor/vol_img1.jpg',
    'facebook': '300',
    'googlePlus': '30,000',
    'twitter': '5',
    'linkedin': 'cause-detail.html',
    'name': 'Robert Harrison',
    'role': 'President'
  }, {
    'image': 'img/vendor/vol_img1.jpg',
    'facebook': '300',
    'googlePlus': '30,000',
    'twitter': '5',
    'linkedin': 'cause-detail.html',
    'name': 'Robert Harrison',
    'role': 'President'
  }, {
    'image': 'img/vendor/vol_img1.jpg',
    'facebook': '300',
    'googlePlus': '30,000',
    'twitter': '5',
    'linkedin': 'cause-detail.html',
    'name': 'Robert Harrison',
    'role': 'President'
  }, {
    'image': 'img/vendor/vol_img1.jpg',
    'facebook': '300',
    'googlePlus': '30,000',
    'twitter': '5',
    'linkedin': 'cause-detail.html',
    'name': 'Robert Harrison',
    'role': 'President'
  }];
