@import 'header';
@import 'hero-carousel';
@import 'cause-banner';
@import 'cause-card';
@import 'image-banner';
@import 'about-section';
@import 'quote';

body {
  box-sizing: content-box;
}

.btn-donate {
  border-radius: 3px;
  padding: 1em 1.5em;
  background-color: #a498e2;
  color: white;
  font-weight: 400;
}

.btn-white {
  background-color: white;
  color: black;
}

.romana_allPage_area .romana_allPage_text h1 {
  text-align: center;
  font-size: 75px;
  padding-top: 72px;
  padding-bottom: 20px;
}

.romana_about_text h3 {
  margin-top: 72px;
}

.about {
  .romana_allPage_area {
    background: url(../../img/about.jpg);
    background-size: cover;
  }
}

.work {
  .romana_allPage_area {
    background: url(../../img/work.jpg);
    background-size: cover;
  }
}
