.quote {
  .romana_single_client_text_img {
    .romana_single_client_text {
      p {
        font-size: 32px;
        line-height: 1.7;
      }
    }
    .romana_client_title {
      p {
        font-size: 20px;
      }
    }
  }
}
