.romana_donation_area.romana_section_padding
  .container
    .romana_donation_bottom
      .row
        .col-md-7.col-sm-12
          .romana_left_donation
            include event.pug
            include event.pug
        .col-md-5.col-sm-12
          .romana_right_donation
            include primary-event.pug
