.romana_single_donation
  .romana_donation_date
    p 03 <span>aug</span>
  .romana_donation_address
    h3 Help the Chlidren in need
    address
      i.icofont.icofont-clock-time
      p Saturday 09am - 04pm
      i.icofont.icofont-social-google-map
      p 78/D, North street,Pixie Avenue<br>Newyork
      <br>
    .romana_donation_arrow
      a(href="#")
        i.icofont.icofont-long-arrow-right.hvr-pulse
  .romana_donation_img
    img(src="img/vendor/donation_img1.jpg", alt="")
