- var imageTitle = 'Let’s Make The world a Better Place';
- var imgaeDec = 'To work work toward this goal we needto help achieve it through volunteer for this cause, you will help a generation of kids change their lives for the better. Come out of cycle of poverty and look for better world. Help us, Help these childern';
include image-banner.pug
