.image-banner.romana_better_place_area
  .container
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        .romana_better_place_text.text-center
          h2 !{imageTitle}
          p !{imgaeDec}
          .romana_better_place_btn
            a.hvr-box-shadow-outset(href="volunteer.html") Become a Volunteer
