.page-title.romana_allPage_area
  .container
    .row
      .col-xs-12
        .romana_allPage_text.text-center
          h1 !{filename}
          ol.breadcrumb
            li
              a(href="index.html") Home
                span /
            li
              a !{filename}
              
